body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    background-color: #323D4E;
    justify-content: space-between;
    align-items: center;
}

.logo p{
    color: white;
    margin: 20px;
}

.opciones ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: white;
    margin: 20px;
    cursor: pointer;
}

.bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #5A92D3, #8B5EB2);
}

.bienvenida h1 {
    color: white;
    font-size: 40px;
}

.bienvenida p {
    color: white;
    font-size: 15px;
    padding-bottom: 60px;
    padding-top: 5px;
}

.headBody {
    display: flex;
}

aside {
    display: flex;
    background-color: #F0EFF1;
    width: 40%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height:150px;
    margin: 15px;
}

aside ul {
    list-style-type: none;
    font-weight: bold;
    margin-right: 10px;
}

.articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 2px;
}

.articulo {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-left: 15px;
    margin-top: 15px;
}

.servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCF8F9;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 55px;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #804AA8, #5A92D3);
    color: white;
    border-radius: 15px;
    width: 33%;
    margin: 20px;
    font-size: 15px;
    padding: 5px;
}

.imagenes {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15%;
    margin: 15px;
}

.imagenes img {
    width: 100%;
    max-width: 320px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #323D4E;
    color: white;
}

footer input {
    border-radius: 5px;
    border-style: none;
}

footer button {
    border-radius: 5px;
    background-color: #E59F3D;
    color: white;
    border-style: none;
}