body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

.contenedor1 {
    height: 50%;
    width: 50%;
}

.contenedor1 img {
    height: auto;
    width: auto;
}

.contenedor2 {
    height: 500px;
    width: 500px;
    border: 15px solid black;
}