body{
    background-image:url('../img/fondo.gif');
    background-size:100%;
}
@font-face {
    font-family: christmas;
    src: url(../fonts/christmas.ttf);
}
@font-face {
    font-family: score;
    src: url(../fonts/score.ttf);
}
#contenedor {
    width:1000px;
    margin-left:calc(50% - 500px);
}
h1 {
    color:red;
    font-size:50px;
    font-family:christmas;
    text-shadow: 2px 2px 5px #000000;
}
#cartel {
    text-align:center;
    height:100px;
    width:100%;
    float:left;
}
#teclado {
    position:absolute;
    top:300px;
    left:100px;
    width:270px;
    height:330px;
}
.tecla {
    border:1px solid gray;
    font-family: christmas;
    float:left;
    width:50px;
    height:50px;
    background-color:whitesmoke;
    text-align:center;
    font-size:20px;
    margin:2px;
    color:red;
    box-shadow:2px 2px 3px black;
    transition: background .5s;
}
.tecla:hover {
    background-color:rgb(253, 177, 177);
    cursor: pointer;
    transition: background .5s;
}

#pelicula {
    padding-top:18px;
    float:left;
    margin-left: auto;
    margin-right: auto;
}

.letraPeli {
    float:left;
    padding:5px;
    border-bottom:1px solid gray;
    width:15px;
    height:20px;
    margin:5px;
    text-align:center;
}

.blanco {
    float:left;
    padding:5px;
    width:10px;
    margin:5px;
    font-size:20px;
    text-align:center;
}


.letraUsada {
    background-color:whitesmoke;
    transition: background-color .3s;
    float:left;
    width:15px;
    height:10px;
    margin:2px;
    border:1px solid gray;
    border-radius: 3px;
    text-align:center;
    padding:20px;
    padding-top:10px;
}

.repetida {
    background-color: red;
    transition:background-color .3s;
}

.caja {
    border:3px solid black;
    border-radius:15px;
    float:left;
}

#ultimaLetra {
    font-family: score;
    font-size:70px;
    text-align: center;
}

#monigote {
    position:relative;
    background-color:silver;
    background-image:url('../img/horca.png');
    background-repeat:no-repeat;
    background-position: bottom left;
    height:700px;
    width:calc(70% - 10px);
}
#letras {
    float:left;
    width:calc(30% - 43px);
    margin-left:10px;
    height:610px;
}
#titulo {
    font-family:verdana;
    font-weight:bold;
    padding:15px;
    margin-top:10px;
    background-color:whitesmoke;
    height:100px;
    width:calc(100% - 30px);
}
#marcador {
    font-family:verdana;
    font-weight:bold;
    padding:15px;
    width:100%;
    height: 100px;
    background-color:whitesmoke;
    margin-bottom:10px;
}

#marcador div{
    /*font-family:score;*/
    font-weight:bold;
    font-size:50px;
    text-align: center;
}

#letra {
    font-family:verdana;
    font-weight:bold;
    padding:15px;
    width:100%;
    height: 120px;
    background-color:whitesmoke;
    margin-bottom:10px;
}
#letrasUsadas {
    font-family:verdana;
    font-weight:bold;
    padding:15px;
    width:100%;
    height: calc(100% - 252px);
    background-color:whitesmoke;
}

.extremidad {
    position:absolute;
    background-repeat:no-repeat;
    background-size: 100%;
}
.oculto {
    opacity: 0;
    transition: opacity 1s;
}
.visible {
    opacity: 1;
    transition: opacity 1s;
}

.letraOculta {
    font-size:0;
}

.letraVisible {
    font-size:20px;
    transition: font-size .5s;
}

#cabeza {
    top:150px;
    left:400px;
    width:140px;
    height:135px;
    background-image:url('../img/cabeza.png');
}
#cuerpo {
    top:213px;
    left:363px;
    width:180px;
    height:200px;
    background-image:url('../img/cuerpo.png');
    z-index:2;
}
#brazoIzq {
    top:220px;
    left:307px;
    width:100px;
    height:140px;
    background-image:url('../img/brazoIzq.png');
}
#brazoDer {
    top:218px;
    left:503px;
    width:100px;
    height:140px;
    background-image:url('../img/brazoDer.png');

}
#manoIzq {
    top:298px;
    left:290px;
    width:80px;
    height:135px;
    background-image:url('../img/manoIzq.png');

}
#manoDer {
    top:305px;
    left:540px;
    width:80px;
    height:135px;
    background-image:url('../img/manoDer.png');
}
#piernaIzq {
    top:375px;
    left:380px;
    width:80px;
    height:135px;
    background-image:url('../img/piernaIzq.png');
    z-index:1;
}
#piernaDer {
    top:370px;
    left:455px;
    width:80px;
    height:135px;
    background-image:url('../img/piernaDer.png');
    z-index:1;
}
#pieIzq {
    top:450px;
    left:330px;
    width:120px;
    height:135px;
    background-image:url('../img/pieIzq.png');
    z-index:2;
}
#pieDer {
    top:448px;
    left:470px;
    width:120px;
    height:135px;
    background-image:url('../img/pieDer.png');
    z-index:2;
}

.ganado {
    background-color:green;
}

.perdido {
    background-color:red;
}

.mensaje {
    z-index:105;
    text-align:center;
    padding:50px;
    font-size:25px;
    font-weight:bold;
    border:5px solid white;
    box-shadow: 10px 10px 15px black;
    width:500px;
    height:auto;
    color:white;
    position:absolute;
    left:calc(50% - 250px);
    top:300px;
    border-radius:10px;
}

.inhabilitado {
    position:absolute;
    background-color:black;
    opacity:.8;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
}

.espacio {
    border-bottom: 0px;
}

input {
    padding:10px;
    background-color:whitesmoke;
    border:1px solid gray;
    border-radius:5px;
    margin-top:5px;
}

.protector {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}